.navbarContainer {
  padding-left: 30px;
}

.navbarItem {
  width: auto;
  color: #631103;
  padding: 10px;
}

.navbarItemActive {
  color: #FFF6EE;
  background-color: #631103;
  padding: 10px;
  border-radius: 10px;
}

.navbarMainDiv {
  width: 100%;
  padding-top: 30px;
  padding-right: 90px;
  display: flex;
  justify-content: right;
}