@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

:root {
  --text-color: #20201D;
  --backround-color: #F5F5F4;
  color: #20201D;
  background-color: #F5F5F4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #F5F5F4;
    --backround-color: #20201D;
  }
}

body {
  color: rgb(var(--text-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}